.backgroundImageOverlay {
  position: absolute;
  color: #000;
  text-align: "center";
  padding: 0 61px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 2.5vw;
  flex-wrap: wrap;
  @media (max-width: 767px) {
    padding: 8px 20px;
  }
}

.buttonContainer {
  border-radius: 5px;
  width: 10.9vw;
  height: 3vw;

  gap: 10px;
  background-color: #14b1f0;
  color: #ffffff;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.2px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  font-size: 4.1vw;
  font-weight: 400;
  line-height: 3.8vw;
  letter-spacing: 0%;
  margin: 0;
}

.heroSubtitle {
  font-size: 0.9vw;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.sliderChip {
  width: 2.6vw;
  height: 0.6vw;
  background: #034e53;
  border-radius: 9px;
  cursor: pointer;
}

.sliderContainer {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-basis: 100%;
  margin-top: 2.3vw;
  margin-right: 61px;
}
