.offerTitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.offerContainer {
  padding: 0 61px;
  padding-top: 26px;

  @media (max-width: 480px) {
    padding: 20px;
  }
}

.offerChipContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  @media (max-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
  }
}

.chips {
  display: flex;
  gap: 12px;
}

.chip {
  padding: 6px 12px;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 100%;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
}

.activeChip {
  border-bottom: 3px solid #0aaeb9;
  color: #00cad7;
}
.arrows {
  display: flex;
  gap: 4px;
}

.arrow {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  color: #034e53;
  padding: 4px 6px;
}

.arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.cards {
  display: grid;
  gap: 12px;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 20px;
}

@media (max-width: 1023px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .card {
    max-width: 230px !important;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .card {
    max-width: 220px !important;
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 100% !important;
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: auto minmax(auto, 414px) auto;
    grid-template-rows: auto auto;
  }

  .card {
    max-width: 414px !important;
  }
  .card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .card:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .card:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .card:nth-child(4) {
    grid-column: 3;
    grid-row: 1;
  }

  .card:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
  }
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.11);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.titleText {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
  @media (max-width: 480px) {
    font-size: 14px;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 16px;
  }
}

.actualPriceText {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #697475;
  margin: 0;
  @media (max-width: 480px) {
    font-size: 16px;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 18px;
  }
}

.discountPrice {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0aaeb9;
  margin: 0;
  @media (max-width: 480px) {
    font-size: 20px;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 22px;
  }
}

.available {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #0aaeb9;
  margin: 0;
}

.offerText {
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  @media (max-width: 480px) {
    font-size: 18px;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 20px;
  }
}
