.footerContainer {
  padding: 97px 106px;
  background-color: #393939;

  @media (max-width: 480px) {
    padding: 20px 20px;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    padding: 60px 40px;
  }
}

.footerInfoContainer {
  display: flex;
  gap: 10.5vw;
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (max-width: 767px) {
    order: 2;
  }
}

.contactText {
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #00cad7;
  margin: 0;
}

.phone {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 0;
}

.socialIcons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.otherLinksContainer {
  display: flex;
  flex-direction: row;
  gap: 11.3vw;
  @media (max-width: 480px) {
    display: flex;
    flex-direction: row;
  }
}

.otherLinksOptions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.otherLinksTitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00cad7;
  margin: 0;
  margin-bottom: 10px;
}

.otherLinks {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.cardContainer {
  display: flex;
  justify-content: end;
  gap: 12px;
  flex-wrap: wrap;
  padding-top: 20px;
  @media (max-width: 767px) {
    justify-content: start;
  }
}

.copywrite {
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding: 20 61px;
  background-color: #161616;
  margin: 0;
  @media (max-width: 480px) {
    font-size: 13px;
    padding: 10px 20px;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    font-size: 15px;
    padding: 10px 40px;
  }
}
