.searchComponent {
  width: 100%;

  @media (max-width: 480px) {
    width: 100%;
  }
}

.searchContainer {
  display: flex;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 0px;
  overflow: hidden;
  background-color: #fff;
  transition: border-color 0.2s ease-in-out;

  @media (max-width: 480px) {
    width: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}

.searchInput {
  flex-grow: 1;
  padding-left: 17.5px;
  font-weight: 400;
  letter-spacing: 0%;
  font-size: 13px;
  line-height: 100%;
  color: #aba3a3;
  background-color: #fff;
  border: 1px solid #ccc;
}

.searchContainer:focus-within {
  border-color: #aba3a3;
}
