.arrivalTitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.arrivalContainer {
  padding: 0 61px;
  padding-top: 26px;
}

.arrivalCardContainer {
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 10px;
  max-width: 186px;
  min-height: 287px;
  border: 1px solid #00000021;
}

.categoryText {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
}
.titleText {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #034e53;
  margin: 0;
}

.actualPriceText {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #697475;
}

.discountPrice {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0aaeb9;
}

.addToCartButton {
  background-color: #15adb7;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 35px;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  border: 0px;
  text-align: center;
  justify-content: center;
}
